@page
@model ForgotPasswordModel
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
@{
    ViewData["Title"] = "Ξέχασες το κωδικο σου ;";
}

<div class="d-flex justify-content-center">
    <div class="text-center col-xl-4 col-lg-5 col-md-7 col-sm-12">
        <!-- Material form login -->
        <div class="card">
            <h5 class="card-header gradient white-text text-center py-4">
                <strong>@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Fillintheemailtohavethepasswordresetemailsenttoyou)).</strong>
            </h5>
            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">
                <!-- Form -->
                <form method="post" class="text-center grey-text">
                    <div class="md-form danger-color rounded white-text" >@Html.ValidationSummary(false)</div>
                    <!-- Email -->
                    <div class="md-form mt-4">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                    </div>
                    <!-- Submit button -->
                    <button class="btn navy-blue-skin gradient white-text btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Submit))</button>
                    <!-- Register -->
                    <p>
                        @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.JointoourPage))
                        <a href="~/Identity/Account/Register">@SharedLocalizer.GetLocalized("Εγγραφή")</a>
                    </p>
                </form>
                <!-- Form -->
            </div>
        </div>
        <!-- Material form login -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
