@page
@model LoginModel
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
@{
    ViewData["Title"] = "Log in";
}

<div class="d-flex justify-content-center">
    <div class="text-center col-xl-4 col-lg-5 col-md-7 col-sm-12">
        <!-- Material form login -->
        <div class="card">
            <div class="card-header h5 gradient text-light text-center py-4">
                <strong>@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Login))</strong>
            </div>
            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">
                <!-- Form -->
                <form method="post" class="text-center" style="color: #757575;">
                    <div class="md-form danger-color-dark">@Html.ValidationSummary(false)</div>
                    <!-- Email -->
                    <div class="form-outline mt-3">
                        <input type="email" class="form-control" asp-for="Input.Email">
                        <label class="form-label" for="Input_Email">E-mail</label>
                    </div>
                    <!-- Password -->
                    <div class="form-outline mt-3">
                        <input type="password" class="form-control" asp-for="Input.Password">
                        <label class="form-label" for="Input_Password">Password</label>
                    </div>

                    <div class="d-flex justify-content-around mt-4">
                        <div>
                            <!-- Remember me -->
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" asp-for="Input.RememberMe" />
                                <label class="form-check-label" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                            </div>
                        </div>
                        <div>
                            <!-- Forgot password -->
                            <a href="~/Identity/Account/ForgotPassword">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Forgotyourpassword))</a>
                        </div>
                    </div>
                    <!-- Sign in button -->
                    <div class="d-grid my-4">
                        <button class="btn btn-primary text-light" type="submit" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Login))</button>
                    </div>
                

                    <!-- Register -->
                    <p>
                        @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.JointoourPage))
                        <a href="~/Identity/Account/Register">: @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Register))</a>
                    </p>
                </form>
                <!-- Social login -->
                <p class="text-dark">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Youcanalsoconnectfromtheapplications)):</p>
                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="text-center">
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        if (provider.DisplayName == "Facebook")
                        {
                            <button class="btn-floating btn-fb btn-sm border-0" name="provider" value="@provider.Name">
                                <i class="fab fa-facebook-f"></i>
                            </button>
                        }
                        else if (provider.DisplayName == "Google")
                        {
                            <button class="btn-floating btn-tw btn-sm border-0" name="provider" value="@provider.Name">
                                <i class="fab fa-google"></i>
                            </button>
                        }
                        else if (provider.DisplayName == "Microsoft")
                        {
                            <button class="btn-floating btn-git btn-sm border-0" name="provider" value="@provider.Name">
                                <i class="fab fa-windows"></i>
                            </button>
                        }
                    }
                </form>
                <!-- Form -->
            </div>
        </div>
        <!-- Material form login -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
