@using Microsoft.AspNetCore.Identity
@using EronNew.Helpers
@using EronNew.Resources
@namespace EronNew.Models
@model EronNew.Models.PostViewModel

@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@inject SignInManager<ExtendedIdentityUser> SignInManager
@inject UserManager<ExtendedIdentityUser> UserManager
@{
    ViewData["Title"] = "Details";
    var userOb = await UserManager.GetUserAsync(User);
    var user = userOb?.Id;

}
@section metatags
{
    <meta property="fb:app_id" content="407388710507530" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Eron.gr - @Model.Post.TitleOfPost" />
    <meta property="og:url" content="https://www.eron.gr/Posts/Details/@Model.Post.id" />
    <meta property="og:image" content="https://www.eron.gr/@Model.Post.Images.First().UrlImage/Images/@Model.Post.Images.First().ImageName" />
    <meta property="og:description" content="@Model.Post.SaleCategory: @SharedLocalizer.GetLocalized(Model.Post.SaleCategory) - @(Model.Post.PriceTotal.HasValue ? Model.Post.PriceTotal.Value.ToString("C") : 0) - @Html.Raw(Model.Post.Square) m2 - @SharedLocalizer.GetLocalized(Model.Post.SubTypeInformation.Desc) - @SharedLocalizer.GetLocalized(Model.Post.SubTypeInformation.SubDesc) - @Model.Post.TitleOfPost" />
}
<nav class="navbar navbar-expand-md mt-2 rounded gradient-title text-primary px-2">
    <ul class="navbar-nav me-auto">
        <li>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-light">
                    <li class="breadcrumb-item"><a class="text-light" data-i18n="@Model.Post.SaleCategory"> </a></li>
                    <li class="breadcrumb-item">@Model.Post.TitleOfPost</li>
                    <li class="breadcrumb-item" data-i18n="@Model.Post.SubTypeInformation.Desc"> </li>
                    <li class="breadcrumb-item" data-i18n="@Model.Post.SubTypeInformation.SubDescEnglish"> </li>
                    <li class="breadcrumb-item text-success"><span data-i18n="Ad Code"></span> - @Model.Post.id</li>
                </ol>
            </nav>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle"
                        type="button"
                        id="ddPremiumLang"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false">
                    <i class="fas fa-language fa-1x"></i>
                </button>
                <ul id="AdvLanguages" class="dropdown-menu dropdown-menu-end switch-locale" aria-labelledby="ddPremiumLang">
                </ul>
            </div>
        </li>
    </ul>
</nav>
<div class="row mt-3">
    <!-- Section: Main panel -->
    <section class="mb-3 mt-1 col-12 p-0 p-sm-2">
        <!-- Card -->
        <div class="card">
            <div class="card-header">
                <div class="col-md-12">
                    <div class="ecommerce-gallery vertical">
                        <div class="row">
                            <div class="col-4 col-sm-3">
                                <div class="multi-carousel vertical" data-mdb-items="2">
                                    <div class="multi-carousel-inner">
                                        <div class="multi-carousel-item active">
                                            <img src="@ViewData["domain"]/@(Model.Post.Images.First().UrlImage)Thumbnails/@Model.Post.Images.First().ImageName"
                                                 data-mdb-img="@ViewData["domain"]/@(Model.Post.Images.First().UrlImage)Images/@Model.Post.Images.First().ImageName"
                                                 alt="Gallery image 1"
                                                 class="active w-100" />
                                        </div>
                                        @foreach (PostsImages image in Model.Post.Images.Skip(1))
                                        {
                                            <div class="multi-carousel-item">
                                                <img src="@ViewData["domain"]/@(image.UrlImage)Thumbnails/@image.ImageName"
                                                     data-mdb-img="@ViewData["domain"]/@(image.UrlImage)Images/@image.ImageName"
                                                     alt="@image.ImageName"
                                                     class="w-100" />
                                            </div>
                                        }
                                    </div>
                                    <button class="carousel-control-prev hover-overlay" tabindex="0" type="button" data-mdb-slide="prev">
                                        <span class="carousel-control-prev-icon text-primary" aria-hidden="true"></span>
                                        <div class="mask gradient-top"></div>
                                    </button>
                                    <button class="carousel-control-next hover-overlay" tabindex="0" type="button" data-mdb-slide="next">
                                        <span class="carousel-control-next-icon text-primary" aria-hidden="true"></span>
                                        <div class="mask gradient-bottom"></div>
                                    </button>

                                </div>
                            </div>
                            <div class="col-8 col-sm-9 shadow-3 position-relative">
                                <a href="#!" class="position-absolute top-0 end-0" style="z-index:10;" data-mdb-toggle="modal" data-mdb-target="#centralModalPreview360">
                                    <i class="fas fa-globe fa-2x text-primary" data-mdb-toggle="tooltip" title="@SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.Preview360))"></i>
                                </a>
                                <div class="lightbox">
                                    <img src="@ViewData["domain"]/@(Model.Post.Images.First().UrlImage)Images/@Model.Post.Images.First().ImageName" alt="Gallery image 1" class="ecommerce-gallery-main-img active w-100" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row p-0 justify-content-between gradient shadow-1">
                    <nav class="navbar navbar-expand-md text-dark col-12 rounded">
                        <div class="me-auto">
                            <nav aria-label="breadcrumb text-light">
                                <ol class="breadcrumb d-inline-flex pl-0 pt-0 font-smaller">
                                    <li class="breadcrumb-item breadcrumb-nav text-light"><strong>@Html.Raw(Model.Post.Square) m<sup>2</sup></strong></li>
                                    <li class="breadcrumb-item breadcrumb-nav text-light"><i class="fas fa-bed pt-1 pr-1"></i> @Html.Raw(Model.Post.Bedroom.HasValue ? Model.Post.Bedroom.Value.ToString() : "0")</li>
                                    <li class="breadcrumb-item breadcrumb-nav text-light"><i class="fas fa-bath pt-1 pr-1"></i> @Html.Raw(Model.Post.Bathroom.HasValue ? Model.Post.Bathroom.Value.ToString() : "0")</li>
                                    <li class="breadcrumb-item breadcrumb-nav text-light"><i class="fas fa-home pt-1 pr-1"></i> @Html.Raw(Model.Post.ConstructionYear)</li>
                                </ol>
                            </nav>
                        </div>
                    </nav>
                </div>
                <div class="row m-md-2 m-sm-0 justify-content-between shadow-5">
                    <div class="col-md-8 col-lg-6 p-0">
                        <div class="card-body row">
                            <ul class="list-group">
                                <li class="list-group-item active" aria-current="true"><span data-i18n="Ad Code"></span> - @Model.Post.id</li>
                                <li class="list-group-item d-inline-flex">
                                    <div class="text-right col-4 text-dark" data-i18n="Price"></div>
                                    <div class="text-left col-8 ">
                                        <a href="#" class="indigo-text">
                                            @if (Model.Post.PriceTotal.HasValue && Model.Post.PriceTotal.Value > 99)
                                            {
                                                @SharedLocalizer.ConvertCurrency(Model.Post.Currency, Model.Post.PriceTotal.Value, Model.Post.Currency)
                                            }
                                            else
                                            {
                                                <span class="badge badge-default rounded" data-i18n="Ask for the Price">
                                                    @SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.AskforthePrice))
                                                </span>
                                            }
                                        </a>
                                    </div>
                                </li>
                                <li class="list-group-item d-inline-flex"">
                                    <div class="text-right col-4 text-dark" data-i18n="Year of Renovation"></div>
                                    <div class="text-left col-8">@Html.Raw(Model.Post.RenovationYear) </div>
                                </li>
                                <li class="list-group-item d-inline-flex"">
                                    <div class="text-right col-4 text-dark" data-i18n="floor"></div>
                                    <div class="text-left col-8">
                                        @(Model.Post.Floor == 0 ? " Ισόγειο" : Model.Post.Floor.ToString()) @if (Model.Post.Floor > 0)
                                        {<sup>ος</sup>}
                                    </div>
                                </li>
                                <li class="list-group-item d-inline-flex"">
                                    <div class="text-right col-4 text-dark" data-i18n="Home Energy Rate"></div>
                                    <div class="text-left col-8 ">
                                        @if (Model.Post.EnergyEfficiency == "A+")
                                        {<button type="button" class="btn text-light" style="background-color: #036703">Α+</button>}
                                        @if (Model.Post.EnergyEfficiency == "A")
                                        {<button type="button" class="btn text-light" style="background-color: #048004">Α</button>}
                                        @if (Model.Post.EnergyEfficiency == "Β+")
                                        {<button type="button" class="btn text-light" style="background-color: #009c02">Β+</button>}
                                        @if (Model.Post.EnergyEfficiency == "Β")
                                        {<button type="button" class="btn text-light" style="background-color: #99cd00">Β</button>}
                                        @if (Model.Post.EnergyEfficiency == "Γ")
                                        {<button type="button" class="btn text-light" style="background-color: #fdcc03">Γ</button>}
                                        @if (Model.Post.EnergyEfficiency == "Δ")
                                        {<button type="button" class="btn text-light" style="background-color: #fe6601">Δ</button>}
                                        @if (Model.Post.EnergyEfficiency == "Ε")
                                        {<button type="button" class="btn text-light" style="background-color: #f90203">Ε</button>}
                                        @if (Model.Post.EnergyEfficiency == "Ζ")
                                        {<button type="button" class="btn text-light" style="background-color: #a03000">Ζ</button>}
                                        @if (Model.Post.EnergyEfficiency == "Η")
                                        {<button type="button" class="btn text-light" style="background-color: #7e0100">Η</button>}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <div id="ContactInfo" class="d-grid">
                            <button id="getContactInfo" data-postid="@Model.Post.id" type="button" class="btn btn-info w-100" data-i18n="Contact Info"></button>
                        </div>
                    </div>
                    <div class="col-12 text-smaller p-0 d-none">
                        <div class="text-left col-12 p-1 mb-1 text-dark flex-row">
                            @if (Model.ExtraInformation.Investment)
                            {
                                <div class="chip chip-sm white-text px-2 shadow-1-strong">
                                    <i class="fas fa-check-circle mr-2 mt-1 pt-0"></i>@SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.Investment))
                                </div>
                            }
                            @if (Model.ExtraInformation.Offer)
                            {
                                <div class="chip chip-sm white-text px-2 shadow-1-strong">
                                    <i class="fas fa-check-circle mr-2 mt-1 pt-0"></i>@SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.Offer))
                                </div>
                            }
                            @if (Model.ExtraInformation.NewConstruction)
                            {
                                <div class="chip chip-sm white-text px-2 shadow-1-strong">
                                    <i class="fas fa-check-circle mr-2 mt-1 pt-0"></i>@SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.NewConstruction))
                                </div>
                            }
                            @if (Model.ExtraInformation.BrokerFee)
                            {
                                <div class="chip chip-sm white-text px-2 shadow-1-strong">
                                    <i class="fas fa-check-circle mr-2 mt-1 pt-0"></i> @SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.BrokerFee))
                                </div>
                            }
                            else
                            {
                                <div class="chip chip-sm white-text px-2 shadow-1-strong">
                                    <i class="fas fa-times-circle mr-2 mt-1 pt-0"></i>@SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.BrokerFee))
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer d-md-flex flex-sm-row justify-content-md-between">
                    <div class="d-flex align-items-start">
                        <div class="p-2 wish-container">
                            @if (Model.Post.WishLists.Any(x => x.AspNetUserId == user && x.Active == true))
                            {
                                <a data-postid="@Model.Post.id" href="#!" id="addToWhishList" class="details-heart details-unwish card-link" data-mdb-toggle="tooltip" title="@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.WishList))">
                                    <i class="fas fa-heart fa-1x text-danger"></i>
                                </a>
                            }
                            else
                            {
                                <a data-postid="@Model.Post.id" href="#!" id="addToWhishList" class="details-heart details-wish card-link" data-mdb-toggle="tooltip" title="@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.WishList))">
                                    <i class="far fa-heart fa-1x text-danger"></i>
                                </a>
                            }
                        </div>

                        <div class="p-2 note-container">
                            <a class="card-link" data-mdb-toggle="modal" data-mdb-target="#centralModalNotes" data-userid="@Model.CardProfile.AspNetUserId">
                                <i class="fas fa-pencil-alt fa-1x prefix text-dark" data-mdb-toggle="tooltip" title="@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.MyNotes))"></i>
                            </a>
                        </div>
                        <div class="p-2">
                            <a class="card-link" id="printClick">
                                <i class="fas fa-print fa-1x prefix text-dark" data-mdb-toggle="tooltip" title="@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Print))"></i>
                            </a>
                        </div>
                        <div class="p-2 view-container">
                            <a class="card-link">
                                <i class="fas fa-eye fa-1x prefix text-dark" data-mdb-toggle="tooltip" title="@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.views))"></i> <label class=" text-smaller text-dark"> @Model.CounterOfView <label data-i18n="views"></label> </label>  |
                            </a>
                        </div>

                        <div class="p-2">
                            <a class="card-link fb-xfbml-parse-ignore"
                               href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.eron.gr%2FPosts%2FDetails%2F@(Model.Post.id)"
                               target="popup"
                               onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.eron.gr%2FPosts%2FDetails%2F@(Model.Post.id)','popup','width=400,height=500'); return false;"
                               data-toggle="tooltip" title="@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Share))">
                                <i class="fab fa-facebook-square blue-text darken-4"></i>
                            </a>
                        </div>

                    </div>
                    <div class="p-2">
                        <a href="~/Card/Index/@Model.Post.OwnerId" class="card-link pr-1">@Html.Raw(Model.CardProfile.Title) <i class="fas fa-external-link-alt fa-1x"></i></a>
                        @if (Model.Post.Reserved)
                        {
                            <small class="text-muted"> | @Html.Raw(Model.Post.CreatedDate.Value.ToString("dd/MM/yyyy")) | <span class="badge bg-warning" data-i18n="Locked"></span></small>
                        }
                        else if (Model.Post.Deleted)
                        {
                            <small class="text-muted"> | @Html.Raw(Model.Post.CreatedDate.Value.ToString("dd/MM/yyyy")) | <span class="badge bg-danger" data-i18n="Inactive"></span></small>
                        }
                        else if (Model.Post.Sold)
                        {
                            <small class="text-muted"> | @Html.Raw(Model.Post.CreatedDate.Value.ToString("dd/MM/yyyy")) | <span class="badge bg-secondary" data-i18n="Completed"></span></small>
                        }
                        else
                        {
                            <small class="text-muted"> | @Html.Raw(Model.Post.CreatedDate.Value.ToString("dd/MM/yyyy")) | <span class="badge bg-primary" data-i18n="Active"></span></small>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Main panel -->

</div>
<div class="row mt-3 d-flex justify-content-center wow fadeIn" data-wow-delay="0.2s">
    <div class="card">
        <div class="card-header d-flex justify-content-center gradient">
            <strong class="mx-3 text-light" data-i18n="Property Features"></strong>
        </div>
        <div class="card-body">
            <!-- Section: Table -->
            <section>
                <form>
                    <div class="row px-4 disabled m-0">
                        <div class="col-lg input-group">
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.HouseKeepingMoney" type="checkbox" disabled id="cb10">
                                <label class="form-check-label" for="cb10" data-i18n="Housekeeping"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="Post.PetAllowed" type="checkbox" disabled id="cb3">
                                <label class="form-check-label" for="cb3" data-i18n="Pets"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="Post.Furniture" type="checkbox" disabled id="cb2">
                                <label class="form-check-label" for="cb2" data-i18n="Furniture"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="Post.ParkingArea" type="checkbox" disabled id="cb1">
                                <label class="form-check-label" for="cb1" data-i18n="Parking Area"></label>
                            </fieldset>

                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Garden" type="checkbox" disabled id="cb05">
                                <label class="form-check-label" for="cb05" data-i18n="Garden"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Bbq" type="checkbox" disabled id="cb01">
                                <label class="form-check-label" for="cb01" data-i18n="BBQ"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Swimmingpool" type="checkbox" disabled id="cb013">
                                <label class="form-check-label" for="cb013" data-i18n="Pool"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.SemiOutdoor" type="checkbox" disabled id="cb09">
                                <label class="form-check-label" for="cb09" data-i18n="Semi-outdoors"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.SecureDoor" type="checkbox" disabled id="cb13">
                                <label class="form-check-label" for="cb13" data-i18n="Safety door"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Elevator" type="checkbox" disabled id="cb02">
                                <label class="form-check-label" for="cb02" data-i18n="Elevator"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.FTTH" type="checkbox" disabled id="cb08">
                                <label class="form-check-label" for="cb08" data-i18n="Internet Fiber"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="Post.View" type="checkbox" disabled id="cb4">
                                <label class="form-check-label" for="cb4" data-i18n="View"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Heating" type="checkbox" disabled id="cb07">
                                <label class="form-check-label" for="cb07" data-i18n="Heating System"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Fireplace" type="checkbox" disabled id="cb04">
                                <label class="form-check-label" for="cb04" data-i18n="Fireplace"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Gym" type="checkbox" disabled id="cb06">
                                <label class="form-check-label" for="cb06" data-i18n="Gym"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.RoofFloor" type="checkbox" disabled id="cb109">
                                <label class="form-check-label" for="cb109" data-i18n="Penthouse"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.HomeAlarm" type="checkbox" disabled id="cb14">
                                <label class="form-check-label" for="cb14" data-i18n="Security Alarm"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.AluminumFrames" type="checkbox" disabled id="cb12">
                                <label class="form-check-label" for="cb12" data-i18n="Safety Frames"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Livingroom" type="checkbox" disabled id="cb5">
                                <label class="form-check-label" for="cb5" data-i18n="Living room"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Wc" type="checkbox" disabled id="cb012">
                                <label class="form-check-label" for="cb012" data-i18n="WC"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Master" type="checkbox" disabled id="cb6">
                                <label class="form-check-label" for="cb6" data-i18n="Master"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Hall" type="checkbox" disabled id="cb7">
                                <label class="form-check-label" for="cb7" data-i18n="Hall"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.Maidroom" type="checkbox" disabled id="cb011">
                                <label class="form-check-label" for="cb011" data-i18n="CloakRoom"></label>
                            </fieldset>
                            <fieldset class="form-check mb-2 pl-1 pr-1 col-6 col-sm-4 col-lg-3">
                                <input class="form-check-input" asp-for="ExtraInformation.AirCondition" type="checkbox" disabled id="cb03">
                                <label class="form-check-label" for="cb03" data-i18n="Air Condition"></label>
                            </fieldset>
                        </div>
                        <hr class="my-0">
                    </div>
                </form>
            </section>
            <!--Section: Table-->
        </div>
    </div>
</div>

<div class="mt-3 row d-flex align-items-center justify-content-center wow fadeIn" data-wow-delay="0.2s">
    <div id="MapBox" class="col-10 shadow-5 ps-0 pe-0" style="height:300px;">

    </div>
</div>

@if (Model.RelatedPosts.Count > 0)
{
    <div class="multi-carousel mt-5" data-mdb-interval="10000" data-mdb-items="3">
        <div class="multi-carousel-inner py-5 px-5">
            @foreach (BasicInformationBase item in Model.RelatedPosts)
            {
                <partial name="_TileCard" model="item" />
            }
        </div>
        <button class="carousel-control-prev hover-overlay"
                type="button"
                tabindex="0"
                data-mdb-slide="prev">
            <span class="carousel-control-prev-icon text-primary" aria-hidden="true"></span>
            <div class="mask gradient-left"></div>
        </button>
        <button class="carousel-control-next hover-overlay"
                type="button"
                tabindex="0"
                data-mdb-slide="next">
            <span class="carousel-control-next-icon text-primary" aria-hidden="true"></span>
            <div class="mask gradient-right"></div>
        </button>
    </div>
}

<script>
    var postTile = "@Html.Raw(@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.ContactPhone)))";
    var PostObject = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Post.ContactPhone ?? "", Newtonsoft.Json.Formatting.None, new Newtonsoft.Json.JsonSerializerSettings(){ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore}));
    var postModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Post, Newtonsoft.Json.Formatting.None, new Newtonsoft.Json.JsonSerializerSettings(){ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore}));
</script>

<!--Modal: modalContact-->
<div class="modal fade top" id="modalContact" tabindex="-1" aria-labelledby="myModalContact" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-lg">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div id="modalHeader" class="modal-header d-flex align-items-start">
                <h3 class="text-center mb-5" data-i18n="Write To Us"></h3>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--Header-->
            <!--Body-->
            <div class="modal-body">
                <!--Section: Design Block-->
                <section>
                    <div class="row">
                        <div class="col-md-8 col-lg-9">
                            <form id="main" class="p-0 m-0 col-12" action="ContactUs/@Model.Post.OwnerId" method="post">
                                <input type="hidden" name="postId" value="@Model.Post.id" />
                                <div class="row mb-4">
                                    <div class="col-md-6 mb-4 mb-md-0">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example1" class="form-control" name="contactEmail.name" />
                                            <label class="form-label" for="form3Example1" data-i18n="Name"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <input type="email" id="form3Example2" class="form-control" name="contactEmail.email" />
                                            <label class="form-label" for="form3Example2" data-i18n="Email"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6 mb-4 mb-md-0">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example11" class="form-control" name="contactEmail.phone" />
                                            <label class="form-label" for="form3Example11" data-i18n="Mobile"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-none">
                                        <div class="form-outline">
                                            <input type="email" id="form3Example22" class="form-control" />
                                            <label class="form-label" for="form3Example22">Company</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <textarea class="form-control" id="form4Example3" rows="4" name="contactEmail.message"></textarea>
                                    <label class="form-label" for="form4Example3" data-i18n="How can we help you"></label>
                                </div>
                                <div class="row flex-row-reverse">
                                    <button type="submit" class="btn btn-primary btn-floating mb-5 mb-md-0">
                                        <i class="far fa-paper-plane"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <ul class="list-unstyled text-center text-md-start">
                                <li>
                                    <p><i class="fas fa-globe-europe text-primary me-2"></i><a href="@Model.CardProfile.ContactWebSite" data-i18n="WebSite"></a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone text-primary me-2"></i>@Model.CardProfile.ContactPhone</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope text-primary me-2"></i>@Model.CardProfile.ContactEmail</p>
                                </li>
                            </ul>
                            <hr class="my-4">
                            <ul class="list-inline text-center list-unstyled">
                                <li class="list-inline-item">
                                    <a class="p2 fa-lg fb-ic" target="_blank" href="https://www.facebook.com/@Model.CardProfile.Facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="p2 fa-lg li-ic">
                                        <i class="fab fa-linkedin-in" target="_blank" href="https://www.linkedin.com/in/@Model.CardProfile.LinkedIn"> </i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="p2 fa-lg tw-ic" target="_blank" href="https://twitter.com/@Model.CardProfile.Twitter">
                                        <i class="fab fa-twitter"> </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--Section: Design Block-->
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>
<!--Modal: modalContact-->
<partial name="_modalPreview360" model="@Model.Post" />
<partial name="_modalNotes" model="@Model.Post" />
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@section Scripts{
    <script>
            var localeLang = '@Model.Post.Areas.Culture';
    </script>
    <script src="~/src/CLDRPluralRuleParser.js"></script>
    <script src="~/src/jquery.i18n.js"></script>
    <script src="~/src/jquery.i18n.emitter.js"></script>
    <script src="~/src/jquery.i18n.emitter.bidi.js"></script>
    <script src="~/src/jquery.i18n.fallbacks.js"></script>
    <script src="~/src/jquery.i18n.language.js"></script>
    <script src="~/src/jquery.i18n.messagestore.js"></script>
    <script src="~/src/jquery.i18n.parser.js"></script>
    @if (Model.Post.Premium)
    {
        <script src="~/src/languages/premium.js"></script>
        <script>
            $(function () {
                var uri = `/i18n/@(Model.Post.Areas.Culture).json`;
                var activeLang = decodeURIComponent(getCookie(".AspNetCore.Culture")).split('|')[0].split('=')[1];
                $.i18n().locale = activeLang;
                $.i18n().load({
                    '@Model.Post.Areas.Culture': uri,
                    'en-US': '/i18n/en-US.json',
                    'es': '/i18n/es.json',
                    'fr': '/i18n/fr.json',
                    'tr': '/i18n/tr.json',
                    'de': '/i18n/de.json',
                    'hi-IN': '/i18n/hi-IN.json'
                }).done(function () {
                    $('.switch-locale').on('click', 'a', function (e) {
                        e.preventDefault();
                        $.i18n().locale = $(this).data('locale');
                        console.log("Locale language: " + $.i18n().locale);
                        $(`[data-i18n]`).each(function (index, elem) {
                            //console.log($(elem).data('i18n') + " - " + $.i18n($(elem).data('i18n')));
                            $(elem).html($.i18n($(elem).data('i18n')));
                        });
                    });
                    $(`[data-i18n]`).each(function (index, elem) {
                        $(elem).html($.i18n($(elem).data('i18n')));
                    });
                });

                for (var i in $.i18n.languages) {
                    if (i != 'default') {
                        $('#AdvLanguages').append(`<a href="#" class="dropdown-item colorful-card" data-locale="${i}">${$.i18n.languages[i].displayName}</a>`);
                    }
                }
            });
        </script>
    }
    else
    {
        <script src="~/src/languages/en-US.js"></script>
        <script src="~/src/languages/@(Model.Post.Areas.Culture).js"></script>
        <script>
            $(function () {
                var uri = `/i18n/${localeLang}.json`;
                var activeLang = decodeURIComponent(getCookie(".AspNetCore.Culture")).split('|')[0].split('=')[1];
                $.i18n().locale = activeLang;
                $.i18n().load({
                    '@Model.Post.Areas.Culture': uri,
                    'en-US': '/i18n/en-US.json'
                }).done(function () {
                    $('.switch-locale').on('click', 'a', function (e) {
                        e.preventDefault();
                        $.i18n().locale = $(this).data('locale');
                        console.log("Locale language: " + $.i18n().locale);
                        $(`[data-i18n]`).each(function (index, elem) {
                            //console.log($(elem).data('i18n') + " - " + $.i18n($(elem).data('i18n')));
                            $(elem).html($.i18n($(elem).data('i18n')));
                        });
                    });
                    $(`[data-i18n]`).each(function (index, elem) {
                        $(elem).html($.i18n($(elem).data('i18n')));
                    });
                });

                for (var i in $.i18n.languages) {
                    if (i != 'default') {
                        $('#AdvLanguages').append(`<li><a class="dropdown-item" href="#" data-locale="${i}">${$.i18n.languages[i].displayName}</a></li>`);
                    }
                }
            });
        </script>
    }

    @if (hostingEnv.EnvironmentName == "Development")
    {
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
        <script src="~/js/print.min.js"></script>
        <script src="~/js/site.posts.details.js"></script>
    }
    else
    {
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
        <script src="~/js/print.min.js"></script>
        <script src="~/js/site.posts.details.min.js"></script>
    }

}
