@namespace EronNew.Models
@using EronNew.Helpers
@using EronNew.Resources
@model EronNew.Models.PageViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@{
    ViewData["Title"] = "Home Page";
}
@section metatags
{
    <meta property="fb:app_id" content="407388710507530" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Eron.gr" />
    <meta property="og:url" content="https://www.eron.gr" />
    <meta property="og:image" content="https://www.eron.gr/images/image_v2.png" />
    <meta property="og:description" content="Καταχωρείστε τις αγγελίες σας στο Eron.gr." />
}

<!--Section: Live preview-->
@if (Model.WelcomeOfferShow)
{
    <!--Modal: modalCoupon-->
    <div class="modal fade top" id="modalCoupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading">
                        @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.WelcomeMessage0))
                    </p>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-6">
                            <p class="pt-3 mx-4">
                                @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.WelcomeVoucherMessage1)) <strong>10 €</strong>.
                            </p>
                            <p class="pt-3 mx-4">
                                @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.WelcomeVoucherMessage2)) <strong>90 €</strong>.
                            </p>
                        </div>
                        <div class="col-3">
                            <a id="onlyFirst" type="button" class="btn btn-success" data-product="4">
                                @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Thankyou))
                                <i class="fas fa-trophy ms-1 white-text"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
}
<!--Modal: modalCoupon-->
<!--Section: Live preview-->
<div class="row mt-5">
    <div class="card mt-2 col-12">
        <div class="card-body">
            <form asp-action="Search" method="get">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 mt-3">
                        <select id="inp_Category" class="select" name="SaleCategory">
                            <option value="Sale" selected> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Sale))</option>
                            <option value="Rent"> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Rent)) </option>
                            <option value="Demand"> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Demand)) </option>
                        </select>
                        <label class="form-label select-label" for="inp_Category">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.AdType))</label>
                    </div>
                    <div class="col-xl-3 col-lg-6 mt-3">

                        <select id="selectType" name="TypeDesc" class="select category1">
                            <option value="Residential">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Residential))</option>
                            <option value="Commercial"> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Commercial))</option>
                            <option value="Land"> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Land))</option>
                            <option value="Other Properties"> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.OtherProperties))</option>
                        </select>
                        <label class="form-label select-label" for="selectType">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Category))</label>
                    </div>
                    <div class="col-xl-3 col-lg-6 mt-3">
                        <select id="selectParentArea" name="Area" class="select">
                        </select>
                        <label class="form-label select-label" for="selectParentArea">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.CountyRegion))</label>
                    </div>
                    <div class="col-3 mt-3">
                        <input type="submit" class="btn btn-primary" value=" @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Search)) " />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.Tiles.Count > 0)
{
    <div class="multi-carousel mt-5" data-mdb-interval="10000" data-mdb-items="3">
        <div class="multi-carousel-inner py-5 px-5">
            @foreach (BasicInformationBase item in Model.Tiles)
            {
                <partial name="_TileCard" model="item" />
            }
        </div>
        <button class="carousel-control-prev hover-overlay"
                type="button"
                tabindex="0"
                data-mdb-slide="prev">
            <span class="carousel-control-prev-icon text-primary" aria-hidden="true"></span>
            <div class="mask gradient-left"></div>
        </button>
        <button class="carousel-control-next hover-overlay"
                type="button"
                tabindex="0"
                data-mdb-slide="next">
            <span class="carousel-control-next-icon text-primary" aria-hidden="true"></span>
            <div class="mask gradient-right"></div>
        </button>
    </div>
}

<!--Section: Currency Live-->
<div class="row mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="d-flex justify-content-center align-items-center"><h4 class="font-weight-bold cyan-lighter-hover">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.ExchangeRateTable))</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 col-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between px-md-1">
                                        <div class="align-self-center">
                                            <i class="fas fa-money-bill  text-success fa-3x"></i>
                                        </div>
                                        <div class="text-end">
                                            <h3>EUR/USD</h3>
                                            <p class="mb-0">1 @SharedLocalizer.GetCurrencySymbol("EUR") <i class="fas fa-exchange-alt mx-3"></i> @SharedLocalizer.ConvertCurrency("EUR", 1, "USD")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 col-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between px-md-1">
                                        <div class="align-self-center">
                                            <i class="fas fa-money-bill  text-success fa-3x"></i>
                                        </div>
                                        <div class="text-end">
                                            <h3>EUR/GBP</h3>
                                            <p class="mb-0">1 @SharedLocalizer.GetCurrencySymbol("EUR") <i class="fas fa-exchange-alt mx-3"></i> @SharedLocalizer.ConvertCurrency("EUR", 1, "GBP")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 col-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between px-md-1">
                                        <div class="align-self-center">
                                            <i class="fas fa-money-bill  text-success fa-3x"></i>
                                        </div>
                                        <div class="text-end">
                                            <h3>GBP/USD</h3>
                                            <p class="mb-0">1 @SharedLocalizer.GetCurrencySymbol("GBP") <i class="fas fa-exchange-alt mx-3"></i> @SharedLocalizer.ConvertCurrency("GBP", 1, "USD")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 col-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between px-md-1">
                                        <div class="align-self-center">
                                            <i class="fas fa-money-bill  text-success fa-3x"></i>
                                        </div>
                                        <div class="text-end">
                                            <h3>USD/CNY</h3>
                                            <p class="mb-0">1 @SharedLocalizer.GetCurrencySymbol("USD") <i class="fas fa-exchange-alt mx-3"></i> @SharedLocalizer.ConvertCurrency("USD", 1, "CNY")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 col-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between px-md-1">
                                        <div class="align-self-center">
                                            <i class="fas fa-money-bill  text-success fa-3x"></i>
                                        </div>
                                        <div class="text-end">
                                            <h3>USD/JPY</h3>
                                            <p class="mb-0">1 @SharedLocalizer.GetCurrencySymbol("USD") <i class="fas fa-exchange-alt mx-3"></i> @SharedLocalizer.ConvertCurrency("USD", 1, "JPY")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 col-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between px-md-1">
                                        <div class="align-self-center">
                                            <i class="fas fa-money-bill text-success fa-3x"></i>
                                        </div>
                                        <div class="text-end">
                                            <h3>USD/TRY</h3>
                                            <p class="mb-0">1 @SharedLocalizer.GetCurrencySymbol("USD") <i class="fas fa-exchange-alt mx-3"></i> @SharedLocalizer.ConvertCurrency("USD", 1, "TRY")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="d-flex flex-row-reverse">
                    <a target="_blank" href="https://www.tcmb.gov.tr/kurlar/today.xml"><sup>Powered by TCMB</sup></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!--Section: Currency Live-->
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@section Scripts{
    @if (hostingEnv.EnvironmentName == "Development")
    {
        <script src="~/js/site.home.js"></script>
    }
    else
    {
        <script src="~/js/site.home.min.js"></script>
    }
}
