@model EronNew.Models.SearchData
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
@{
    Layout = "~/Views/Shared/_Layout-fluid.cshtml";
}
<!--Grid row-->
<div class="row d-flex flex-sm-fill">
    <!--Grid column-->
    <div class="card col-lg-4 col-md-12 mt-1 rounded-3">
        <!-- Card image -->
        <div class="card-header gradient text-center text-light">
            <div class="h6">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.SearchFilters))<span id="countOfAds" class="badge badge-info me-2"></span></div>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body scrollbar-2 scrollbar-lg-3 scrollbar-navy-blue-skin overflow-scroll">
            <form id="searchDataForm">
                <!-- Section: Filters -->
                <section class="filters">
                    <div class="row mx-0 my-2">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-2">
                            <section filter="SaleCategory">
                                <select id="inp_Category" class="select filter-option" name="SaleCategory" SaleCategory>
                                    <option value="Sale" selected>@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Sale))</option>
                                    <option value="Rent">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Rent))</option>
                                    <option value="Demand">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Demand))</option>
                                </select>
                                <label class="form-label select-label" for="inp_Category">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.AdType))</label>
                            </section>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-2">
                            <section filter="EnergyEfficiency">
                                <select id="EnergyEfficiency" class="select filter-option" name="EnergyEfficiency" EnergyEfficiency>
                                    <option value=""></option>
                                    <option value="A+">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Aplus))</option>
                                    <option value="A">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.A))</option>
                                    <option value="Β+">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Bplus))</option>
                                    <option value="Β">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.B))</option>
                                    <option value="Γ">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.C))</option>
                                    <option value="Δ">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.D))</option>
                                    <option value="Ε">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.E))</option>
                                    <option value="Ζ">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.F))</option>
                                    <option value="Η">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.G))</option>
                                </select>
                                <label class="form-label select-label" for="EnergyEfficiency">
                                    @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.HomeEnergyRate))
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <section filter="TypeDesc">
                                <select id="selectType" name="TypeDesc" class="select filter-option" TypeDesc>
                                    <option value="Residential">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Residential))</option>
                                    <option value="Commercial">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Commercial))</option>
                                    <option value="Land"> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Land))</option>
                                    <option value="Other Properties"> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.OtherProperties))</option>
                                </select>
                                <label class="form-label select-label" for="selectType">
                                    @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Category))
                                </label>
                            </section>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <section filter="SubType">
                                <select id="selectSubType" class="select filter-option" multiple name="SubType" SubType>
                                </select>
                            </section>
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <section filter="Area">
                                <select id="selectParentArea" asp-items="@ViewBag.Areas" asp-for="Area" class="select filter-option" Area>
                                </select>
                                <label class="form-label select-label" for="selectParentArea">
                                    @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.CountyRegion))
                                </label>
                            </section>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <section filter="SubArea">
                                <select id="selectArea" class="select filter-option" name="SubArea" multiple SubArea>
                                </select>
                            </section>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="col-6 d-flex flex-wrap">
                            <label class="col-12">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Price))</label>
                            <section filter="priceFrom" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="form-outline">
                                    <input id="priceFrom" type="number" class="form-control filter-option" name="priceFrom" priceFrom value="@Model.priceFrom">
                                    <label class="form-label" for="priceFrom">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.from))</label>
                                </div>
                            </section>
                            <section filter="priceTo" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="form-outline">
                                    <input id="priceTo" type="number" class="form-control filter-option" name="priceTo" priceTo value="@Model.priceTo">
                                    <label class="form-label" for="priceTo">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.to))</label>
                                </div>
                            </section>
                        </div>
                        <div class="col-6 d-flex flex-wrap">
                            <label class="col-12">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Square))</label>
                            <section filter="squareFrom" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="form-outline">
                                    <input id="squareFrom" type="number" class="form-control filter-option" name="squareFrom" squareFrom value="@Model.squaresFrom">
                                    <label class="form-label" for="squaresFrom">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.from))</label>
                                </div>
                            </section><section filter="squareTo" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="form-outline">
                                    <input id="squareTo" type="number" class="form-control filter-option" name="squareTo" squareTo value="@Model.squaresTo">
                                    <label class="form-label" for="squareTo">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.to))</label>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="col-6 d-flex flex-wrap">
                            <label class="col-12">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.ConstructionYear))</label>
                            <section filter="conYearFrom" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="form-outline">
                                    <input id="conYearFrom" type="number" class="form-control filter-option" name="conYearFrom" conYearFrom value="@Model.conYearFrom">
                                    <label class="form-label" for="conYearFrom">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.from))</label>
                                </div>
                            </section>
                            <section filter="conYearTo" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="form-outline">
                                    <input id="conYearTo" type="number" class="form-control filter-option" name="conYearTo" conYearTo value="@Model.conYearTo">
                                    <label class="form-label" for="conYearTo">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.to))</label>
                                </div>
                            </section>
                        </div>
                        <div class="col-6 d-flex flex-wrap">
                            <label class="col-12">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.YearofRenovation))</label>
                            <section filter="renYearFrom" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="form-outline">
                                    <input id="renYearFrom" type="number" class="form-control filter-option" name="renYearFrom" renYearFrom="" value="@Model.renYearFrom">
                                    <label class="form-label" for="renYearFrom">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.from))</label>
                                </div>
                            </section>
                            <section filter="renYearTo" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                                <div class="form-outline">
                                    <input id="renYearTo" type="number" class="form-control filter-option" name="renYearTo" renYearTo="" value="@Model.renYearTo">
                                    <label class="form-label" for="renYearTo">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.to))</label>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <section filter="Bedroom" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                            <!-- Quantity -->
                            <div class="d-flex mb-4">
                                <button class="btn btn-primary btn-minus px-3 me-2">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <div class="form-outline">
                                    <input id="Bedroom" min="0" value="0" name="Bedroom" Bedroom type="number" class="form-control filter-option" />
                                    <label class="form-label" for="Bedroom">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Bedrooms)) @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.from))</label>
                                </div>
                                <button class="btn btn-primary btn-plus px-3 ms-2">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- Quantity -->
                        </section>
                        <section filter="Bathroom" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                            <div class="d-flex mb-4">
                                <button class="btn btn-primary btn-minus px-3 me-2">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <div class="form-outline">
                                    <input type="number" value="0" class="form-control filter-option" id="Bathroom" name="Bathroom" Bathroom>
                                    <label class="form-label" for="Bathroom">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Bathrooms)) @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.from))</label>
                                </div>
                                <button class="btn btn-primary btn-plus px-3 ms-2">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </section>
                    </div>
                    <div class="row mx-0 my-2">
                        <h6 class="font-weight-bold mb-3 col-12">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.PropertyFeatures))</h6>
                        <div class="row mx-0">
                            <div class="form-check col-sm-4 col-6">
                                <section filter="HouseKeepingMoney">
                                    <input class="filter-option form-check-input" name="HouseKeepingMoney" HouseKeepingMoney type="checkbox" id="cb001">
                                    <label class="form-check-label" for="cb001">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Housekeeping))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="PetAllowed">
                                    <input class="filter-option form-check-input" name="PetAllowed" PetAllowed="true" type="checkbox" id="cb002">
                                    <label class="form-check-label" for="cb002">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Pets))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Livingroom">
                                    <input class="filter-option form-check-input" name="Livingroom" Livingroom="true" type="checkbox" id="cb003">
                                    <label class="form-check-label" for="cb003">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Livingroom))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Furniture">
                                    <input class="filter-option form-check-input" name="Furniture" Furniture type="checkbox" id="cb004">
                                    <label class="form-check-label" for="cb004">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Furniture))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="ParkingArea">
                                    <input class="filter-option form-check-input" name="ParkingArea" ParkingArea type="checkbox" id="cb006">
                                    <label class="form-check-label" for="cb006">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.ParkingArea))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Garden">
                                    <input class="filter-option form-check-input" name="Garden" Garden type="checkbox" id="cb007">
                                    <label class="form-check-label" for="cb007">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Garden))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Gym">
                                    <input class="filter-option form-check-input" name="Gym" Gym type="checkbox" id="cb009">
                                    <label class="form-check-label" for="cb009">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Gym))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="RoofFloor">
                                    <input class="filter-option form-check-input" name="RoofFloor" RoofFloor type="checkbox" id="cb010">
                                    <label class="form-check-label" for="cb010">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Penthouse))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="SecureDoor">
                                    <input class="filter-option form-check-input" name="SecureDoor" SecureDoor type="checkbox" id="cb101">
                                    <label class="form-check-label" for="cb101">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Safetydoor))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="FTTH">
                                    <input class="filter-option form-check-input" name="FTTH" FTTH type="checkbox" id="cb102">
                                    <label class="form-check-label" for="cb102">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.InternetFiber))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="View">
                                    <input class="filter-option form-check-input" name="View" View type="checkbox" id="cb103">
                                    <label class="form-check-label" for="cb103">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.View))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Heating">
                                    <input class="filter-option form-check-input" name="Heating" Heating type="checkbox" id="cb104">
                                    <label class="form-check-label" for="cb104">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.HeatingSystem))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Fireplace">
                                    <input class="filter-option form-check-input" name="Fireplace" Fireplace="true" type="checkbox" id="cb105">
                                    <label class="form-check-label" for="cb105">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Fireplace))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Swimmingpool">
                                    <input class="filter-option form-check-input" name="Swimmingpool" Swimmingpool type="checkbox" id="cb106">
                                    <label class="form-check-label" for="cb106">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Pool))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="SemiOutdoor">
                                    <input class="filter-option form-check-input" name="SemiOutdoor" SemiOutdoor type="checkbox" id="cb107">
                                    <label class="form-check-label" for="cb107">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Semioutdoors))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Maidroom">
                                    <input class="filter-option form-check-input" name="Maidroom" Maidroom type="checkbox" id="cb108">
                                    <label class="form-check-label" for="cb108">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.CloakRoom))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="HomeAlarm">
                                    <input class="filter-option form-check-input" name="HomeAlarm" HomeAlarm type="checkbox" id="cb201">
                                    <label class="form-check-label" for="cb201">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.SecurityAlarm))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="AluminumFrames">
                                    <input class="filter-option form-check-input" name="AluminumFrames" AluminumFrames type="checkbox" id="cb202">
                                    <label class="form-check-label" for="cb202">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.SafetyFrames))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Wc">
                                    <input class="filter-option form-check-input" name="Wc" Wc type="checkbox" id="cb203">
                                    <label class="form-check-label" for="cb203">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.WC))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Elevator">
                                    <input class="filter-option form-check-input" name="Elevator" Elevator type="checkbox" id="cb204">
                                    <label class="form-check-label" for="cb204">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Elevator))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Bbq">
                                    <input class="filter-option form-check-input" name="Bbq" Bbq type="checkbox" id="cb205">
                                    <label class="form-check-label" for="cb205">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.BBQ))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="AirCondition">
                                    <input class="filter-option form-check-input" name="AirCondition" AirCondition type="checkbox" id="cb206">
                                    <label class="form-check-label" for="cb206">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.AirCondition))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Master">
                                    <input class="filter-option form-check-input" name="Master" Master type="checkbox" id="cb207">
                                    <label class="form-check-label" for="cb207">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Master))</label>
                                </section>
                            </div>
                            <div class="form-check col-sm-4 col-6">
                                <section filter="Hall">
                                    <input class="filter-option form-check-input" name="Hall" Hall type="checkbox" id="cb208">
                                    <label class="form-check-label" for="cb208">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Hall))</label>
                                </section>
                            </div>
                        </div>
                    </div>
                    <section filter="numberOfPage">
                        <input id="numberOfPage" type="number" class="filter-option" style="display:none;" name="numberOfPage" numberOfPage value="1">
                    </section>
                    <section filter="SortList">
                        <input id="SortList" type="hidden" class="filter-option" name="SortList" SortList />
                    </section>
                </section>
            </form>
        </div>
    </div>
    <div class="col-lg-8 col-md-12 mb-1 flex-row mx-0">
        <partial name="_PartialViewCards" />
    </div>
</div>
<!--Modal: Login with Avatar Form-->
<div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <h5 class="mt-1 mb-2 white-text">Συμπλήρωσε ένα τίτλο:</h5>
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-1">
                <div class=" my-5 mx-0">
                    <input type="text" id="searchTitle" class=" -sm validate me-0">
                </div>

                <div class="text-center mt-4">
                    <button id="btnSaveQuery" class="btn btn-cyan mt-1">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Save)) <i class="far fa-save me-2"></i></button>
                </div>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login with Avatar Form-->
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@section Scripts{
    <script type="text/javascript">
        var searchData = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.None, new Newtonsoft.Json.JsonSerializerSettings() { ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore }))';
    </script>
    <script src="~/src/CLDRPluralRuleParser.js"></script>
    <script src="~/src/jquery.i18n.js"></script>
    <script src="~/src/jquery.i18n.emitter.js"></script>
    <script src="~/src/jquery.i18n.emitter.bidi.js"></script>
    <script src="~/src/jquery.i18n.fallbacks.js"></script>
    <script src="~/src/jquery.i18n.language.js"></script>
    <script src="~/src/jquery.i18n.messagestore.js"></script>
    <script src="~/src/jquery.i18n.parser.js"></script>
    <script src="~/src/languages/premium.js"></script>
    <script>
        $(function () {
            var activeLang = decodeURIComponent(getCookie(".AspNetCore.Culture")).split('|')[0].split('=')[1];
            $.i18n().locale = activeLang;
            $.i18n().load({
                'el-GR': `/i18n/el-GR.json`,
                'en-US': '/i18n/en-US.json',
                'es': '/i18n/es.json',
                'fr': '/i18n/fr.json',
                'tr': '/i18n/tr.json',
                'de': '/i18n/de.json',
                'hi-IN': '/i18n/hi-IN.json'
            }).done(function () {
                $('.switch-locale').on('click', 'a', function (e) {
                    e.preventDefault();
                    $.i18n().locale = $(this).data('locale');
                    console.log("Locale language: " + $.i18n().locale);
                    $(`[data-i18n]`).each(function (index, elem) {
                        $(elem).html($.i18n($(elem).data('i18n')));
                    });
                });
                $(`[data-i18n]`).each(function (index, elem) {
                    $(elem).html($.i18n($(elem).data('i18n')));
                });
            });
        });
    </script>
    @if (hostingEnv.EnvironmentName == "Development")
    {
        <script src="~/js/site.home.search.js"></script>
    }
    else
    {
        <script src="~/js/site.home.search.min.js"></script>
    }
}
