@page
@model EditMyCardModel
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
@{
    ViewData["Title"] = "Edit My Card";
    ViewData["ActivePage"] = ManageNavPages.EditMyCard;

    EronNew.Models.AspNetUserProfile viewModel = Model.Input.Clone();
    viewModel.SetDescription();
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row mt-3">
    <div class="col-lg-6 col-md-12">
        <form id="myCard-form" method="post" enctype="multipart/form-data">
            <input asp-for="Input.Id" type="hidden">
            <input asp-for="Input.PhotoImage" type="hidden">

            <!-- Form with header -->
            <div class="card">
                <div class="card-header gradient-title text-center">
                    <span class="h6 text-light">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Myinformation))</span>
                </div>
                <div class="card-body">
                    <!-- Header -->
                    <div class="form-outline mt-3">
                        <div class="file-upload-wrapper">
                            <input type="file"
                                   id="input-file-now"
                                   class="file-upload-input"
                                   data-mdb-default-file="https://www.eron.gr/@viewModel.PhotoImage"
                                   data-mdb-file-upload="file-upload"
                                   asp-for="Input.Image" />
                        </div>
                    </div>
                    <!-- Body -->
                    <div class="form-outline mt-3">
                        <input asp-for="Input.Title" type="text" class="form-control" placeholder="Text with Large Size and Bold">
                        <label class="form-label"> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.TitleName))</label>
                    </div>
                    <div class="form-outline mt-3">
                        <input asp-for="Input.SubTitle" type="text" class="form-control" placeholder="Text with Large Size">
                        <label class="form-label" id="inputGroupMaterial-sizing-default">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Subtitle))</label>
                    </div>
                    <div class="form-outline mt-3">
                        <input asp-for="Input.Info" type="text" class="form-control" placeholder="Text with normal Size">
                        <label class="form-label">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.InfoCard))</label>
                    </div>
                    <div class="form-outline mt-3">
                        <input asp-for="Input.Facebook" type="text" class="form-control" placeholder="{your ID from Facebook}">
                        <label class="form-label">Facebook</label>
                    </div>
                    <div class="form-outline mt-3">
                        <input asp-for="Input.Twitter" type="text" class="form-control" placeholder="{your ID from Twitter}">
                        <label class="form-label">Twitter</label>
                    </div>
                    <div class="form-outline mt-3">
                        <input asp-for="Input.LinkedIn" type="text" class="form-control" placeholder="{your ID from LinkedIn}">
                        <label class="form-label">LinkedIn</label>
                    </div>
                    <div class="form-outline mt-3">
                        <input asp-for="Input.ContactWebSite" type="text" class="form-control" placeholder="https://www.test.gr">
                        <label class="form-label">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.WebSite))</label>
                    </div>
                    <div class="form-outline mt-3">
                        <input asp-for="Input.ContactPhone" type="text" class="form-control" placeholder="691 2345 6789">
                        <label class="form-label">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Mobile))</label>
                    </div>
                    <div class="form-outline mt-3">
                        <input asp-for="Input.ContactEmail" type="text" class="form-control" placeholder="youremail@domain.gr">
                        <label class="form-label">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Email))</label>
                    </div>
                    <div class="form-outline mt-3">
                        <textarea asp-for="Input.InfoText" id="form19" class="md-textarea form-control" rows="7"></textarea>
                        <label class="form-label" for="form19">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Writeashortdescription))</label>
                    </div>
                    <div class="row mt-2">
                        <button class="btn btn-primary ">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Save))</button>
                    </div>

                </div>
            </div>
            <!-- Form with header -->
        </form>
    </div>
    <!-- Section: Basic Info Editable -->
    <!-- Section: Basic Info -->
    <div class="col-lg-6 col-md-12">

        <div class="card">
            <div class="card-header gradient-title text-center">
                <span class="h6 text-light">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Preview)) - @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.MyCard))</span>
            </div>
            <div class="card-body">
                <section class="card profile-card mb-4 text-center">
                    <div class="avatar shadow-1">
                        <img src="https://www.eron.gr/@viewModel.PhotoImage" class="img-fluid">
                    </div>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><strong>@viewModel.Title</strong></h4>
                        <h5>@viewModel.SubTitle</h5>
                        <p class="dark-grey-text">@viewModel.Info</p>

                        <!-- Social -->
                        <a type="button" href="https://www.facebook.com/@viewModel.Facebook" class="btn-floating btn-small"><i class="fab fa-facebook-f grey-text"></i></a>
                        <a type="button" href="https://twitter.com/@viewModel.Twitter" class="btn-floating btn-small"><i class="fab fa-twitter grey-text"></i></a>
                        <a type="button" href="https://www.linkedin.com/in/@viewModel.LinkedIn" class="btn-floating btn-small"><i class="fab fa-linkedin-in grey-text"></i></a>

                        <!-- Text -->
                        <p style="white-space: pre-line" class="card-text mt-3">
                            @(viewModel.InfoText)
                        </p>

                        <button type="button" class="btn btn-info btn-rounded btn-sm" data-mdb-toggle="modal" data-mdb-target="#modalContact">
                            Contact<i class="fas fa-paper-plane ml-2"></i>
                        </button>
                    </div>

                </section>
            </div>
        </div>
    </div>
    <!-- Section: Basic Info -->
</div>
<!--Modal: modalContact-->
<div class="modal fade top" id="modalContact" tabindex="-1" aria-labelledby="myModalContact" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-lg">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div id="modalHeader" class="modal-header d-flex align-items-start">
                <h3 class="text-center mb-5" data-i18n="Write To Us"></h3>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--Header-->
            <!--Body-->
            <div class="modal-body">
                <!--Section: Design Block-->
                <section>
                    <div class="row">
                        <div class="col-md-8 col-lg-9">
                            <form id="main" class="p-0 m-0 col-12" action="ContactUs/@viewModel.AspNetUserId" method="post">
                                <div class="row mb-4">
                                    <div class="col-md-6 mb-4 mb-md-0">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example1" class="form-control" name="contactEmail.name" />
                                            <label class="form-label" for="form3Example1" data-i18n="Name"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <input type="email" id="form3Example2" class="form-control" name="contactEmail.email" />
                                            <label class="form-label" for="form3Example2" data-i18n="Email"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6 mb-4 mb-md-0">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example11" class="form-control" name="contactEmail.phone" />
                                            <label class="form-label" for="form3Example11" data-i18n="Mobile"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-none">
                                        <div class="form-outline">
                                            <input type="email" id="form3Example22" class="form-control" />
                                            <label class="form-label" for="form3Example22">Company</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <textarea class="form-control" id="form4Example3" rows="4" name="contactEmail.message"></textarea>
                                    <label class="form-label" for="form4Example3" data-i18n="How can we help you"></label>
                                </div>
                                <div class="row flex-row-reverse">
                                    <button type="submit" class="btn btn-primary btn-floating mb-5 mb-md-0">
                                        <i class="far fa-paper-plane"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <ul class="list-unstyled text-center text-md-start">
                                <li>
                                    <p><i class="fas fa-globe-europe text-primary me-2"></i><a href="@viewModel.ContactWebSite" data-i18n="WebSite"></a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone text-primary me-2"></i>@viewModel.ContactPhone</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope text-primary me-2"></i>@viewModel.ContactEmail</p>
                                </li>
                            </ul>
                            <hr class="my-4">
                            <ul class="list-inline text-center list-unstyled">
                                <li class="list-inline-item">
                                    <a class="p2 fa-lg fb-ic" target="_blank" href="https://www.facebook.com/@viewModel.Facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="p2 fa-lg li-ic">
                                        <i class="fab fa-linkedin-in" target="_blank" href="https://www.linkedin.com/in/@viewModel.LinkedIn"> </i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="p2 fa-lg tw-ic" target="_blank" href="https://twitter.com/@viewModel.Twitter">
                                        <i class="fab fa-twitter"> </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--Section: Design Block-->
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>
<!--Modal: modalContact-->
@section Scripts {
    <script src="~/src/CLDRPluralRuleParser.js"></script>
    <script src="~/src/jquery.i18n.js"></script>
    <script src="~/src/jquery.i18n.emitter.js"></script>
    <script src="~/src/jquery.i18n.emitter.bidi.js"></script>
    <script src="~/src/jquery.i18n.fallbacks.js"></script>
    <script src="~/src/jquery.i18n.language.js"></script>
    <script src="~/src/jquery.i18n.messagestore.js"></script>
    <script src="~/src/jquery.i18n.parser.js"></script>
    <script src="~/src/languages/premium.js"></script>
    <script>
        $(function () {
            var activeLang = decodeURIComponent(getCookie(".AspNetCore.Culture")).split('|')[0].split('=')[1];
            $.i18n().locale = activeLang;
            $.i18n().load({
                'el-GR': `/i18n/el-GR.json`,
                'en-US': '/i18n/en-US.json',
                'es': '/i18n/es.json',
                'fr': '/i18n/fr.json',
                'tr': '/i18n/tr.json',
                'de': '/i18n/de.json'
            }).done(function () {
                $('.switch-locale').on('click', 'a', function (e) {
                    e.preventDefault();
                    $.i18n().locale = $(this).data('locale');
                    console.log("Locale language: " + $.i18n().locale);
                    $(`[data-i18n]`).each(function (index, elem) {
                        $(elem).html($.i18n($(elem).data('i18n')));
                    });
                });
                $(`[data-i18n]`).each(function (index, elem) {
                    $(elem).html($.i18n($(elem).data('i18n')));
                });
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
