@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv


<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content my-5 p-5">
            <!-- Section: Pricing v.5 -->
            <section class="text-center">
                <!-- Section heading -->
                <h3 class="mb-5">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.ActivationMessage2))</h3>
                <!-- Section description -->
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-4 col-sm-12 mb-5">
                        <!-- Card -->
                        <div class="pricing-card card">
                            <!-- Content -->
                            <div class="card-body">
                                <h5 class="font-weight-bold mt-3">1 @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Month))</h5>
                                <!-- Price -->
                                <p class="mt-4 mb-3 ms-4">
                                    <span class="lead font-weight-normal align-top">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.euroSymbol))</span>
                                    <span class="display-4">2,99</span>
                                    <span class="lead font-weight-normal">/mo</span>
                                </p>
                                <!-- Price -->
                                <ul class="list-group list-group-flush mb-4">
                                    <li class="list-group-item">
                                        @SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.HtmlPreview360))
                                    </li>
                                    <li class="list-group-item">
                                        @SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.HtmlBoostedAdvertisment))
                                    </li>
                                    <li class="list-group-item">
                                        @SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.HtmlAllLanguagesAvailable))
                                    </li>
                                </ul>
                                <a class="btn btn-rounded mb-4 product-activate" data-product="1">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Activation))</a>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-4 col-sm-12 mb-5">
                        <!-- Card -->
                        <div class="card card-image"
                             style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(8).jpg');">
                            <!-- Content -->
                            <div class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong py-3 px-3 rounded">
                                <!-- Content -->
                                <div class="card-body">
                                    <h5 class="font-weight-bold mt-2">6 @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Months))</h5>
                                    <!-- Price -->
                                    <p class="mt-4 mb-3 ms-4">
                                        <span class="lead font-weight-normal align-top">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.euroSymbol))</span>
                                        <span class="display-4">2,49</span>
                                        <span class="lead font-weight-normal">/mo</span>
                                    </p>
                                    <!-- Price -->
                                    <ul class="list-group list-group-flush mb-4">
                                        <li class="list-group-item bg-transparent border-white">
                                            @SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.HtmlPreview360))
                                        </li>
                                        <li class="list-group-item bg-transparent border-white">
                                            @SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.HtmlBoostedAdvertisment))
                                        </li>
                                        <li class="list-group-item bg-transparent border-white">
                                            @SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.HtmlAllLanguagesAvailable))
                                        </li>
                                    </ul>
                                    <a class="btn btn-rounded btn-white product-activate" data-product="2">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Activation))</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-4 col-sm-12 mb-5">
                        <!-- Card -->
                        <div class="pricing-card card">
                            <!-- Content -->
                            <div class="card-body">
                                <h5 class="font-weight-bold mt-3">12 @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Months))</h5>
                                <!-- Price -->
                                <p class="mt-4 mb-3 ms-4">
                                    <span class="lead font-weight-normal align-top">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.euroSymbol))</span>
                                    <span class="display-4">2,29</span>
                                    <span class="lead font-weight-normal">/mo</span>
                                </p>
                                <!-- Price -->
                                <ul class="list-group list-group-flush mb-4">
                                    <li class="list-group-item">
                                        @SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.HtmlPreview360))
                                    </li>
                                    <li class="list-group-item">
                                        @SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.HtmlBoostedAdvertisment))
                                    </li>
                                    <li class="list-group-item">
                                        @SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.HtmlAllLanguagesAvailable))
                                    </li>
                                </ul>
                                <a class="btn pink-gradient btn-rounded mb-4 product-activate" data-product="3">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Activation))</a>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </section>
            <!-- Section: Pricing v.5 -->
        </div>
    </div>
</div>