@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eron</title>
    <meta content="/images/logo.png" itemprop="image">
    <meta name="title" content="Eron.gr">
    <meta name="description" content="Καταχωρείστε τις αγγελίες σας στο Eron.gr.">
    <meta name="keywords" content="Advertisment,Real Estate,Ακίνητο,Πώληση,Ενοικίαση,Eron.gr">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-16">
    <meta name="language" content="English">
    <meta name="revisit-after" content="5 days">
    <meta name="author" content="Vasileios Valasidis">
    <meta property="fb:app_id" content="407388710507530" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Eron.gr" />
    <meta property="og:url" content="https://www.eron.gr" />
    <meta property="og:image" content="https://www.eron.gr/images/image.png" />
    <meta property="og:description" content="Καταχωρείστε τις αγγελίες σας στο Eron.gr." />
    @RenderSection("metatags", false)
    <style>
        @@media (min-width: 1400px) {
            main,
            header,
            #main-navbar,
            #message-input {
                padding-left: 240px;
            }
        }

        #mainLogo {
            display: none !important;
        }
    </style>
    <partial name="_partialStyleSheets.cshtml" />
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    @if (hostingEnv.EnvironmentName == "Production")
    {
        <!-- Hotjar Tracking Code for www.eron.gr -->
        <script>
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
                h._hjSettings = { hjid: 2219362, hjsv: 6 };
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script'); r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9ZJT4KTT5R"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-9ZJT4KTT5R');
        </script>
    }
</head>
<body class="scrollbar-navy-blue-skin-slim">
    <!--Main Navigation-->
    <header>
        <!-- Sidebar navigation -->
        <nav id="sidenav-admin"
             class="sidenav gradient-title"
             data-mdb-slim="false"
             data-mdb-hidden="true"
             data-mdb-accordion="true">

            <div class="text-center">
                <a class="navbar-brand" href="~/Home">
                    <img src="~/images/logo.png" class="p-0 m-0 mt-2" style="height:58px;" />
                </a>
            </div>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    <a class="sidenav-link text-light">
                        <i class="fas fa-cogs me-2"></i>@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Personalsettings))<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <ul class="sidenav-collapse">
                        <li class="sidenav-link">
                            <a class="nav-link text-light" id="profile" href="/Identity/Account/Manage/Index">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Personalsettings))</a>
                        </li>
                        <li class="sidenav-link">
                            <a class="nav-link text-light" id="email" href="/Identity/Account/Manage/Email">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Changeemail))</a>
                        </li>
                        <li class="sidenav-link">
                            <a class="nav-link text-light" id="change-password" href="/Identity/Account/Manage/ChangePassword">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Password))</a>
                        </li>
                        <li class="sidenav-link">
                            <a class="nav-link text-light" id="personal-data" href="/Identity/Account/Manage/PersonalData">GDPR</a>
                        </li>
                    </ul>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link text-light" href="/Identity/Account/Manage/EditMyCard"><i class="fas fa-user-circle me-2"></i>@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.MyCard))</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link text-light" href="/Administration/Index"><i class="fas fa-folder-open me-2"></i> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.AdManagement))</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link text-light" href="/Identity/Account/Manage/Notes"><i class="fas fa-comment-alt me-2"></i> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Notes))</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link text-light" href="/WishList/Index"><i class="fas fa-heart me-2"></i> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.WishList))</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link text-light" href="/RecentPosts/Index"><i class="fas fa-history me-2"></i> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.RecentPosts))</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link text-light" href="/Search/Index"><i class="fas fa-history me-2"></i> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.SavedSearches))</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link text-light" href="/Wallet/Finance"><i class="fas fa-wallet me-2"></i> @SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Wallet))</a>
                </li>
            </ul>
            <div class="text-center mt-5 text-light" style="max-height: 240px;">
                <hr class="mt-0 mb-2" />
                <small>
                    © 2021 Copyright:
                    <a href="https://www.eron.gr/"> Eron.gr</a>
                </small>
            </div>
        </nav>
        <!--/. Sidebar navigation -->
        <partial name="_navbar" />
    </header>
    <!--Main Navigation-->
    <main class="d-flex flex-fill mt-5">
        <div class="container-fluid text-left text-sm-left text-md-left">
            @RenderBody()
        </div>
    </main>
    <!--Modal: modalCookie-->
    <div class="modal fade top" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Body-->
                <div class="modal-body">
                    <div class="row d-flex justify-content-center align-items-center">
                        <p class="pt-3 pr-2">We use cookies to improve your website experience</p>
                        <a type="button" class="btn btn-primary">Learn more <i class="fas fa-book ml-1"></i></a>
                        <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Ok, thanks</a>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modalCookie-->
    <partial name="_partialScripts" />
    @if (hostingEnv.EnvironmentName == "Development")
    {
        <script src="~/js/site.administration.js"></script>
    }
    else
    {
        <script src="~/js/site.administration.min.js"></script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>