
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@inject Microsoft.AspNetCore.Identity.SignInManager<Microsoft.AspNetCore.Identity.ExtendedIdentityUser> SignInManager
@inject EronNew.Data.ExtendedUserManager<Microsoft.AspNetCore.Identity.ExtendedIdentityUser> UserManager
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item pe-2">
        <a class="btn bg-success" href="/Posts/Create">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.SubmitPost))</a>
    </li>
    <li class="nav-item dropdown pe-2">
        <a class="nav-link dropdown-toggle btn bg-info px-3"
           href="#"
           id="navbarDropdownMenuLink"
           role="button"
           data-mdb-toggle="dropdown"
           aria-expanded="false">
            <i class="fas fa-user fa-1x"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item colorful-card" href="/Card/Index/@UserManager.GetUserId(User)"><i class="fas fa-user-circle"></i> <strong>@UserManager.GetUserName(User)</strong></a></li>
            <li><a class="dropdown-item colorful-card" href="/Administration">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.AdManagement))</a></li>
            <li><a class="dropdown-item colorful-card" href="/Identity/Account/Manage/Index">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.AccountManagement))</a></li>
            <li>
                <div class="dropdown-divider"></div>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
                    <button type="submit" class="dropdown-item colorful-card">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Logout))</button>
                </form>
                <input type="hidden" id="getId" value="@UserManager.GetUserId(User)">
            </li>
        </ul>
    </li>
    <li class="nav-item pe-2">
        <div class="btn-group">
            <form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" method="post" class="border-0" role="form" style="max-width:200px;">
                <button id="langButton"
                        type="button"
                        class="btn btn-sm btn-primary dropdown-toggle"
                        data-mdb-toggle="dropdown"
                        data-mdb-display="static"
                        aria-expanded="false">
                </button>
                <ul class="dropdown-menu dropdown-menu-md-end">
                    @foreach (var item in cultureItems)
                    {
                        <li>
                            <button type="submit" class="dropdown-item" name="culture" value="@item.Value" aria-label="@item.Text">
                                <span class="label label-default black-text"><span class="flag-icon flag-icon-@item.Value.ToLower()"></span> @item.Text</span>
                            </button>
                        </li>
                    }
                </ul>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item pe-2">
        <a class="btn bg-success" href="/Posts/Create">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.SubmitPost))</a>
    </li>
    <li class="nav-item pe-2">
        <a class="btn bg-info" asp-area="Identity" asp-page="/Account/Login"><span>@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.LoginRegister))</span></a>
    </li>
    <li class="nav-item pe-2">
        <div class="btn-group">
            <form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" method="post" class="border-0" role="form" style="max-width:200px;">
                <button id="langButton"
                        type="button"
                        class="btn btn-sm btn-primary dropdown-toggle"
                        data-mdb-toggle="dropdown"
                        data-mdb-display="static"
                        aria-expanded="false">
                </button>
                <ul class="dropdown-menu dropdown-menu-md-end">
                    @foreach (var item in cultureItems)
                    {
                        <li>
                            <button type="submit" class="dropdown-item" name="culture" value="@item.Value" aria-label="@item.Text">
                                <span class="label label-default black-text"><span class="flag-icon flag-icon-@item.Value.ToLower()"></span> @item.Text</span>
                            </button>
                        </li>
                    }
                </ul>
            </form>
        </div>
    </li>
}