@model EronNew.Models.SearchData
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@{
    Layout = "~/Views/Shared/_Layout-fluid.cshtml";
    var Domain = $"{this.Context.Request.Scheme}://{this.Context.Request.Host}{this.Context.Request.PathBase}//";
}
@section metatags
{
    <meta property="fb:app_id" content="407388710507530" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Eron.gr - @Model.CardProfile.Title" />
    <meta property="og:url" content="https://www.eron.gr/Card/Index/@Model.CardProfile.AspNetUserId" />
    <meta property="og:image" content="https://www.eron.gr/@Model.CardProfile.PhotoImage" />
    <meta property="og:description" content="@Model.CardProfile.InfoText" />
}
<div class="row d-flex flex-sm-fill">
    <div class="scrollbar-sm-4 scrollbar-navy-blue-skin overflow-scroll col-lg-3 col-md-12 flex-md-shrink-1 mt-2">
        <!-- Section: Basic Info -->
        <section class="card profile-card mb-2 text-center">
            <div class="avatar z-depth-1-half">
                <img src="@Domain@Model.CardProfile.PhotoImage" alt="" class="img-fluid">
            </div>
            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><strong>@Model.CardProfile.Title</strong></h4>
                <h5>@Model.CardProfile.SubTitle</h5>
                <p class="dark-grey-text">@Model.CardProfile.Info</p>

                <!-- Social -->

                <a type="button" class="btn-floating btn-small blue darken-4" target="_blank" href="https://www.facebook.com/@Model.CardProfile.Facebook"><i class="fab fa-facebook-f white-text"></i></a>
                <a type="button" class="btn-floating btn-small light-blue darken-1" target="_blank" href="https://www.twitter.com/@Model.CardProfile.Twitter"><i class="fab fa-twitter white-text"></i></a>
                <a type="button" class="btn-floating btn-small blue darken-3" target="_blank" href="https://www.linkedin.com/in/@Model.CardProfile.LinkedIn"><i class="fab fa-linkedin-in white-text"></i></a>

                <!-- Text -->
                <p style="white-space: pre-line" class="card-text mt-3">
                    @Model.CardProfile.InfoText
                </p>

                <button type="button" class="btn btn-info btn-rounded btn-sm" data-mdb-toggle="modal" data-mdb-target="#modalContact" data-userId="@Model.CardProfile.AspNetUserId">
                    Contact<i class="fas fa-paper-plane ml-2"></i>
                </button>
                <a class="btn btn-info btn-rounded btn-sm blue darken-4 white-text" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.eron.gr%2FCard%2FIndex%2F@(Model.CardProfile.AspNetUserId)','popup','width=400,height=500'); return false;">Share on Facebook</a>
            </div>

        </section>

        <section class="Filters">
            <form  id="searchDataForm">
                <section filter="numberOfPage">
                    <input id="numberOfPage" type="number" class="filter-option" style="display:none;" name="numberOfPage" numberOfPage value="1">
                </section>
                <section filter="SortList">
                    <input id="SortList" type="hidden" class="filter-option" name="SortList" SortList />
                </section>
            </form>
        </section>
        <!-- Section: Experience -->

    </div>
    <div class="col-lg-9 col-md-12 flex-row">
        <partial name="_PartialViewCards" />
    </div>

    <!--Modal: modalContact-->
    <div class="modal fade top" id="modalContact" tabindex="-1" aria-labelledby="myModalContact" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog modal-lg">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div id="modalHeader" class="modal-header d-flex align-items-start">
                    <h3 class="text-center mb-5" data-i18n="Write To Us"></h3>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--Header-->
                <!--Body-->
                <div class="modal-body">
                    <!--Section: Design Block-->
                    <section>
                        <div class="row">
                            <div class="col-md-8 col-lg-9">
                                <form id="main" class="p-0 m-0 col-12" action="ContactUs/@Model.CardProfile.AspNetUserId" method="post">
                                    <div class="row mb-4">
                                        <div class="col-md-6 mb-4 mb-md-0">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1" class="form-control" name="contactEmail.name" />
                                                <label class="form-label" for="form3Example1" data-i18n="Name"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <input type="email" id="form3Example2" class="form-control" name="contactEmail.email" />
                                                <label class="form-label" for="form3Example2" data-i18n="Email"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-6 mb-4 mb-md-0">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example11" class="form-control" name="contactEmail.phone" />
                                                <label class="form-label" for="form3Example11" data-i18n="Mobile"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-none">
                                            <div class="form-outline">
                                                <input type="email" id="form3Example22" class="form-control" />
                                                <label class="form-label" for="form3Example22">Company</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <textarea class="form-control" id="form4Example3" rows="4" name="contactEmail.message"></textarea>
                                        <label class="form-label" for="form4Example3" data-i18n="How can we help you"></label>
                                    </div>
                                    <div class="row flex-row-reverse">
                                        <button type="submit" class="btn btn-primary btn-floating mb-5 mb-md-0">
                                            <i class="far fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <ul class="list-unstyled text-center text-md-start">
                                    <li>
                                        <p><i class="fas fa-globe-europe text-primary me-2"></i><a href="@Model.CardProfile.ContactWebSite" data-i18n="WebSite"></a></p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-phone text-primary me-2"></i>@Model.CardProfile.ContactPhone</p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-envelope text-primary me-2"></i>@Model.CardProfile.ContactEmail</p>
                                    </li>
                                </ul>
                                <hr class="my-4">
                                <ul class="list-inline text-center list-unstyled">
                                    <li class="list-inline-item">
                                        <a class="p2 fa-lg fb-ic" target="_blank" href="https://www.facebook.com/@Model.CardProfile.Facebook">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="p2 fa-lg li-ic">
                                            <i class="fab fa-linkedin-in" target="_blank" href="https://www.linkedin.com/in/@Model.CardProfile.LinkedIn"> </i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="p2 fa-lg tw-ic" target="_blank" href="https://twitter.com/@Model.CardProfile.Twitter">
                                            <i class="fab fa-twitter"> </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <!--Section: Design Block-->
                </div>
                <!--/.Content-->
            </div>
        </div>
    </div>
    <!--Modal: modalContact-->
</div>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@section Scripts{
    <script src="~/src/CLDRPluralRuleParser.js"></script>
    <script src="~/src/jquery.i18n.js"></script>
    <script src="~/src/jquery.i18n.emitter.js"></script>
    <script src="~/src/jquery.i18n.emitter.bidi.js"></script>
    <script src="~/src/jquery.i18n.fallbacks.js"></script>
    <script src="~/src/jquery.i18n.language.js"></script>
    <script src="~/src/jquery.i18n.messagestore.js"></script>
    <script src="~/src/jquery.i18n.parser.js"></script>
    <script src="~/src/languages/premium.js"></script>
    <script>
        $(function () {
            var activeLang = decodeURIComponent(getCookie(".AspNetCore.Culture")).split('|')[0].split('=')[1];
            $.i18n().locale = activeLang;
            $.i18n().load({
                'el-GR': `/i18n/el-GR.json`,
                'en-US': '/i18n/en-US.json',
                'es': '/i18n/es.json',
                'fr': '/i18n/fr.json',
                'tr': '/i18n/tr.json',
                'de': '/i18n/de.json',
                'hi-IN': '/i18n/hi-IN.json',
                'zh': '/i18n/zh.json'
            }).done(function () {
                $('.switch-locale').on('click', 'a', function (e) {
                    e.preventDefault();
                    $.i18n().locale = $(this).data('locale');
                    console.log("Locale language: " + $.i18n().locale);
                    $(`[data-i18n]`).each(function (index, elem) {
                        $(elem).html($.i18n($(elem).data('i18n')));
                    });
                });
                $(`[data-i18n]`).each(function (index, elem) {
                    $(elem).html($.i18n($(elem).data('i18n')));
                });
            });
        });
    </script>
    <script>
            var userId = "@Model.CardProfile.AspNetUserId";
    </script>

    @if (hostingEnv.EnvironmentName == "Development")
    {
        <script src="~/js/site.card.js"></script>
    }
    else
    {
        <script src="~/js/site.card.min.js"></script>
    }
}