@namespace EronNew.Models
@model IEnumerable<EronNew.Models.AspNetUserSavedSearch>
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
@{
    ViewData["Title"] = "Administration Panel";
    Layout = "~/Views/Shared/_Layout-SideNav.cshtml";
}
<div class="card mt-2">
    <!-- Card image -->
    <div class="card-header gradient text-light text-center ">
        <span>@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.SavedSearches))</span>
    </div>
    <!-- /Card image -->

    <div class="card-body">
        <!-- Table -->
        <table class="table table-hover col-12">
            <!-- Table head -->
            <thead>
                <tr>
                    <th>

                    </th>
                </tr>
            </thead>
            <!-- Table head -->
            <!-- Table body -->
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td class="pb-1 p-0">
                            <a href="/Home/Search/?@(item.QueryString)">
                                <!-- Comment -->
                                <div class="d-flex align-items-start mb-4">
                                    <div class="col-12 position-relative">
                                        <img src="~/images/molecular.png" class="img-fluid shadow-1-strong rounded" width="60" height="60" />
                                        <a href="/Home/Search/?@(item.QueryString)" class="mb-2"><strong><span class="badge badge-info float-right"></span>@item.Title - @item.CreatedAt</strong></a>
                                        <button type="button" class="btn-close position-absolute end-0 top-0" aria-label="Close" data-queryid="@item.Id"></button>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    @inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        @if (hostingEnv.EnvironmentName == "Development")
        {
            <script src="~/js/site.search.js"></script>
        }
        else
        {
            <script src="~/js/site.search.js"></script>
        }
    }

